@model SS7Restaurant.Models.Sale

@{
    ViewData["Title"] = "Create";
}
<hr/>
<div class="row">
    <div class="col-3">
        @foreach (var category in ViewBag.Category as List<Category>)
        {
            <a href="#" onclick='GetProduct("@category.CategoryId")'
               class="btn btn-primary">@category.CategoryName</a>
        }
    </div>
    <div class="col-3">
        <div class="form-group">
            <label asp-for="IssueDate" class="control-label"></label>
            <input asp-for="IssueDate" class="form-control" />
            <span asp-validation-for="IssueDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label asp-for="TableId" class="control-label"></label>
            <select asp-for="TableId" class="form-control" asp-items="ViewBag.TableId"></select>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label asp-for="CustomerId" class="control-label"></label>
            <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-6">
        <div id="ProductList">

        </div>
    </div>
    <div class="col-6">
        <table class="table table-bordered" id="cartList">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-3">
        <div class="form-group">
            <label asp-for="Total" class="control-label"></label>
            <input asp-for="Total" readonly class="form-control" />
            <span asp-validation-for="Total" class="text-danger"></span>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label asp-for="Discount" class="control-label"></label>
            <input asp-for="Discount" class="form-control"  value="0"/>
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label asp-for="GrandTotal" class="control-label"></label>
            <input asp-for="GrandTotal" readonly class="form-control" />
            <span asp-validation-for="GrandTotal" class="text-danger"></span>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#Discount").blur(function () {
                CalGrandTotal();
            });
        });
        function GetProduct(id) {
            $.ajax({
                method: "GET",
                url: "/Sale/GetProductByCategory/?Id=" + id,
                contentType: "application/json",
                success: function (data) {
                    $.each(data, function (i, v) {
                        var product = "<div class='card'><img class='card-img-top' onClick=AddToCart('" + v.productId + "','" + v.productName + "',"+ v.price +");";
                        product += " style='height:100px;width:auto' src='/Uploads/" + v.image + "'/>";
                        product += "<h5>" + v.productName + "</h5>";
                        product += "<h4>" + v.price + "</h4></div>";
                        $("#ProductList").append(product);
                    });

                }, error: function (error) {
                    console.log(error);
                }
            });
        }
        function AddToCart(productId, productName, price) {
            var b = false;
            $("#cartList > tbody > tr").each(function () {
                var name = $(this).closest("tr").find("td:eq(0)").text();
                if (name == productName) {
                    var price = $(this).closest("tr").find("td:eq(1)").text();
                    var qty = $(this).closest("tr").find("td:eq(2)").text();
                    $(this).closest("tr").find("td:eq(2)").text(Number(qty) + 1);
                    $(this).closest("tr").find("td:eq(3)").text(Number(qty) + 1 * Number(price));
                    b = true;
                }
            });
            if (b == false) {
                var row = "<tr><td><input hidden name='productId[]' value='" + productId + "'/>";
                row += productName + "</td><td>";
                row += price + "</td><td>" + 1 + "</td><td>";
                row += price + "</td><td></td></tr>";
                $("#cartList").append(row);
            }
            CalGrandTotal();
        }
        function CalGrandTotal() {
            var Total = 0;
            $("#cartList > tbody > tr").each(function () {
                var amount = $(this).closest("tr").find("td:eq(3)").text();
                Total += Number(amount);
            });
            $("#Total").val(Total);
            var discount = $("#Discount").val();
            discount = Number(Total) * Number(discount) / 100;
            $("#GrandTotal").val(Number(Total) - Number(discount));
        }
    </script>
    
}
